<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datatable</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
</head>
<body>

    <table id="students-table" class="table">
        <thead>
            <tr>
                <td>#</td>
                <td>FirstName</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#students-table').DataTable({
                processing: true,
                serverSide: true,
                ajax:{
                    url: "/studentsList",
                    type:"post",
                    contentType: "application/json",
                    data: function (d) {
                        return JSON.stringify(d)
                    }
                },
                columns: [
                    {data:"firstName"},
                    {data:"email"},
                ]
            });
        })
    </script>

</body>
</html>